:root {
    --title-bar-height: 32px;
    --titlebar-bg-color: #2f3241;
    --titlebar-text-color: #fff;
    --navbar-bg-color: #494c57;
    --navbar-text-color: #fff;
    --navbar-hover-color: #fff;
    --navbar-hover-bg-color: #4e5060;
    --navbar-active-color: #fff;
    --navbar-active-bg-color: #494c57;
    --navbar-active-hover-color: #fff;
    --navbar-active-hover-bg-color: #494c57;
    --navbar-selected-color: #fff;
    --navbar-selected-bg-color: #575a6b;
    --navbar-height: 32px;
    --navbar-titlebar-padding: 5px;
    --navbar-titlebar-padding-side: 300px;
}

body {
    color: #ffffff;
    font-family: sans-serif;
}

#titlebar {
    display: flex;
    background-color: var(--titlebar-bg-color);
    -webkit-user-select: none;
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--title-bar-height);
    z-index: 102;
    color: var(--titlebar-text-color);
}

#titlebar-text {
    position: absolute;
    left: 32px;
    top: -10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#body {
    position: absolute;
    top: var(--title-bar-height);
    left: 0;
    right: 0;
    bottom: 0;
}

#navbar {
    display: flex;
    position: absolute;
    top: calc((var(--title-bar-height) * -1) + var(--navbar-titlebar-padding));
    left: var(--navbar-titlebar-padding-side);
    right: var(--navbar-titlebar-padding-side);
    height: calc(var(--navbar-height) - (var(--navbar-titlebar-padding) * 2));
    background-color: var(--navbar-bg-color);
    -webkit-app-region: no-drag;
    z-index: 103;
    border-radius: 5px;
    overflow: hidden;
}

.navbar-tab {
    flex: 1;
    text-align: center;
    color: var(--navbar-text-color);
    background-color: var(--navbar-bg-color);
    border: none;
    height: 100%;
    outline: none;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 0;

}

.navbar-tab:hover {
    color: var(--navbar-hover-color);
    background-color: var(--navbar-hover-bg-color);
}

.navbar-tab:active {
    color: var(--navbar-active-color);
    background-color: var(--navbar-active-bg-color);
}

.navbar-tab:active:hover {
    color: var(--navbar-active-hover-color);
    background-color: var(--navbar-active-hover-bg-color);
}

.navbar-tab.selected {
    color: var(--navbar-selected-color);
    background-color: var(--navbar-selected-bg-color);
}

.pageEnabled {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pageDisabled {
    display: none;
}
